@import '../../../sass/config';

.newPostWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  transition-delay: 90ms;
  transition-duration: 150ms;
  margin-top: 3em;
  width: 100%;
  height: fit-content;

  .textWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    transition-delay: 90ms;
    transition-duration: 150ms;
    width: 55%;
    border: 0.05em solid black;

    .text {
      color: $contrast-font-color;
      font-size: $nav-text-font-size;
      font-weight: 500;
      padding: $nav-text-padding;
      transition-delay: inherit;
      transition-duration: inherit;
    }

    &:hover {
      border: 0.05em solid $contrast-background-color;

      .text {
        color: $contrast-background-color;
      }
    }
  }
}

.modal {
  position: fixed;
  top: 10em;
  border-radius: $modal-border-radius;
  background-color: $modal-background-color-2;
  height: 40em; width: 40em;
  overflow: hidden;
  .headerContainer {
    border-radius: $modal-border-radius $modal-border-radius 0 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: $modal-background-color;
    height: 3.5em;
    .headerText {
      border-radius: $modal-border-radius;
      font-family: $primary-font, $font-type;
      font-weight: 500;
      font-size: 1.2em;
      color: white;
      letter-spacing: $letter-spacing;
      position: relative;
      left: 1em;
    }
  }
}

.overlay {
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $modal-overlay-color;
}