@import '../../../sass/config';

body{box-sizing: border-box;}

.itemDetailViewContainer{
  margin-top: 2em;
  margin-left: 4em;
  width: 100%;

  .imgNavBar{
    height: 425px;
    
    .navImg{
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;
      margin-right: 10px;
      height: 55px;
      width: 55px;
      border: 1.5px solid lightgrey;
    }
    .navImg:hover {
      box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }
}
   
  .mainContainer{
    display: flex;
    width: 100%;

    .imgBox{
      width: 450px;
      height: 400px;
      box-shadow: $post-box-shadow;
      // display: flex;
      // justify-content: center;
      // align-items: center;  
      margin-left: 1em;
      transition: all .2s ease-in-out;

      display: relative
    }

    .img-magnifier-glass {
      position: absolute;
      border: 3px solid #000;
      border-radius: 50%;
      cursor: none;
      /*Set the size of the magnifier glass:*/
      width: 100px;
      height: 100px;
    }

    .imgBox:hover{
      transform: scale(1.1);
    }

    .img{
      max-width: 450px;
      max-height: 400px;
    }
    }

    .titleContainer{
      margin-left: 4em;
      border-bottom: 1px solid lightgray;
      width: 80%;
    
      div{
        margin-bottom: 5px;
      }

      .descriptionContainer{
        height: 80%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      
      .title{
        font-weight: bold;
        font-size: 26px;
        margin-bottom: 10px;
      }
      
      .user{
        margin-bottom: 20px;
        border-bottom: 1px solid lightgray;
        padding-bottom: 5px;
      }

      .messageContainer{
        display: flex;
        justify-content: center;
        color: darkblue;
      }
    }

    .secondContainer{
      display: flex;
      flex-direction: column;
      width: 600px;
      margin-top: 1.5em;

      .descriptionTitle{
        font-size: 20px;
        color: darkblue;
        margin-bottom: 5px;
        font-weight: bold;
      }
     
      .productDescription{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
      }
    }
}

.options{
  display: flex;
  justify-content: space-around;
  color: $contrast-background-color;
  font-family: $primary-font;
  font-size: 25px;
}
.editPost{
  text-decoration: none;
  color: $contrast-background-color;
}
.deletePost{
  cursor:pointer;
}
.messagePoster{
  text-decoration: none;
  color: $contrast-background-color;
}