
@import '../../../sass/config';

.navigation {
  background-color: $overlay-background-color;
  min-width: 250px;
  height: 93vh;
  font-family: $primary-font, $font-type;
  z-index: 1;

  .navTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    font-weight: bold;
    color: $contrast-font-color;
    margin-top: 1em;
    height: 2em;

    &:first-child {
      margin-top: 0;
    }
  }

  .navMenu {
    height: fit-content;

    .navItem {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      transition-delay: 90ms;
      transition-duration: 150ms;
      position: relative;
      left: 1em;
      width: 92.5%;
      height: fit-content;

      .text {
        font-size: 1.2em;
        color: $contrast-font-color;
        padding: 0.35em;
        margin-top: 0.35em;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        text-decoration: none;
      }

      &:first-child {
        margin-top: 0;

        .text {
          background-color: $contrast-background-color;
          color: white;
          font-weight: bold;
        }
      }

      &:hover {
        left: 2em;
      }
    }
  }
}
