@import '../../../sass/config';

.header {
  // z-index: -1;
  width: 100%;
  height: $header-height;

  .headerWrap {
    display: flex;
    background-color: $primary-background-color;
    height: $header-height;
    width: 100%;

    .titleWrap, .searchWrap, .loginStatusWrap {
      font-family: $primary-font, $font-type;
      color: $primary-font-color;
      letter-spacing: 0.1em;
      width: calc(100% / 3);
    }

    .titleWrap {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      
      .selectWrap{
        width: 10em;
      }

      a{
        display: flex;
        text-decoration: none;
        color: $primary-font-color;
        justify-content: flex-start;
        align-items: center;
        
        .title {
          font-size: 2em;
          font-weight: bold;
          position: relative;
          left: $distance-from-border * 4;
        }
  
        .logo {
          position: relative;
          left: $distance-from-border * 3;
  
          .placeholderLogo {
            background-color: $light-background-color;
            height: 2.4em;
            width: 2.4em;
          }
        }
      }
    }

    .loginStatusWrap {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .loginStatus {
        font-size: 0.8em;
        position: relative;
        right: $distance-from-border;
  
        .refLogin {
          color: cornflowerblue;
          text-decoration: underline;
        }
      }
    }
  }
}
