@import '../../../sass/config';

.header {
  z-index: -1;
  width: 100%;

  .headerWrap {
    display: flex;
    background-color: $primary-background-color;
    height: $header-height;
    width: 100%;

    .titleWrap, .searchWrap, .loginStatusWrap {
      font-family: $primary-font, $font-type;
      color: $primary-font-color;
      letter-spacing: 0.1em;
      width: calc(100% / 3);
    }

    .titleWrap {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      text-decoration: none;

      .title {
        font-size: 2em;
        font-weight: bold;
        position: relative;
        left: $distance-from-border * 1.5;
      }

      .logo {
        position: relative;
        left: $distance-from-border;

        .placeholderLogo {
          background-color: $light-background-color;
          height: 2.4em;
          width: 2.4em;
        }
      }
    }

    .searchWrap {
      display: flex;
      align-items: center;

      .searchIcon {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $light-background-color;
        border-top-right-radius: $search-border-radius;
        border-bottom-right-radius: $search-border-radius;
        height: 2.2em;
        width: 2.2em;
        
        & img {
          position: relative;
          right: 0.6em;
          padding-left: 0.5em;
          border-left: 1px solid black;
          height: 65%;
          width: 65%;
        }
      }

      .searchBar {
        width: 100%;

        & input {
          font-size: 1.2em;
          padding-left: 1em;
          border: none;
          border-top-left-radius: $search-border-radius;
          border-bottom-left-radius: $search-border-radius;
          height: 1.8em;
          width: 100%;
        }
      }
    }

    .loginStatusWrap {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .loginStatus {
        font-size: 0.8em;
        position: relative;
        right: $distance-from-border;
  
        .refLogin {
          color: cornflowerblue;
          text-decoration: underline;
        }
      }
    }
  }
}
