@import '../../../sass/config';

.registerContainer{
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: column;
  margin-top: 4em;

  .titleContainer{
    margin-bottom: 20px;
    font-size: 20px;
  }

  form{
    width: 260px;
    height: 200px;

    div{
      margin-top: 10px;
      margin-left: 5px;
    }

    input{
      width: 95%;
      height: 20px;
    }

    .btnContainer{
      margin-top: 20px;
      display: flex;
      justify-content: center;
      margin-left: 0px;

      .btn{
        background-color: $primary-background-color;
        color: $primary-font-color;
        padding: 10px;
        width: 100%;
        border-radius: 12px; 
        font-size: 14px;
        font-weight: bold;
        letter-spacing: $letter-spacing;
      }
    }

    .loginLink {
      text-align: center;

      .link {
        text-decoration: none;
      }
    }
  }
}