@import '../../../sass/config';

.postContainer{
  width: 300px;
  height: 300px;
  border: 1px solid grey;
  margin: 15px;
  border-radius: 8px;
  text-decoration: none;
  color: black;
  font-family: $primary-font;

  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;

 

  .imgContainer{
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
    background-color: lightgray;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .img{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    max-width: 300px;
    max-height: 200px;
  }

  .noImg{
    max-width: 300px;
    max-height: 200px;
   
   
  }
  .title{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
  }

  .textContainer{
    margin: 5px;
    text-align: center;
    
    .price{
      margin-bottom: 5px;
    }

    .updatedAt{
      font-size: 10px;
    }
  }

  .viewContainer{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    margin-right: 5px;
  }
  
}

.postContainer:before{
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}

.postContainer:hover, .postContainer:focus, .postContainer:active{
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}

.postContainer:hover:before, .postContainer:focus:before, .postContainer:active:before{
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */

}