@import '../../../sass/config';

.searchWrap {
  display: flex;
  align-items: center;

  .searchWrap {
    font-family: $primary-font, $font-type;
    color: $primary-font-color;
    letter-spacing: 0.1em;
    width: calc(100% / 3);
  }

  .searchBar {
    display: flex;
    width: 100%;

    .search {
      font-size: 1.2em;
      padding-left: 1em;
      outline: none;
      border: none;
      border-top-left-radius: $search-border-radius;
      border-bottom-left-radius: $search-border-radius;
      height: 1.8em;
      width: 100%;
    }
    .submitButton{
      background-color: $light-background-color;
      background-image: url("https://image.flaticon.com/icons/svg/126/126474.svg");
      background-repeat: no-repeat;
      border-top-right-radius: $search-border-radius;
      border-bottom-right-radius: $search-border-radius;
      border: 0;
      display: block;
      width: 38px;
    }
  }
}
